@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 20px);
  /* 7 columns, one for each day of the week */
  gap: 2px;
}

.tile {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.snake {
  background-color: red;
  /* Color for the snake's body */
}